	.mediaViewInfo {
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__1 {
		position: absolute;
		width: 1920px;
		height: 1486px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-enable-deep-linking: true;
	}
	#Group_1 {
		position: absolute;
		width: 1744.5px;
		height: 1343px;
		left: 88px;
		top: 71px;
		overflow: visible;
	}
	#Group_2 {
		position: absolute;
		width: 1744.5px;
		height: 1343px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#mwu-logo {
		position: absolute;
		width: 189px;
		height: 190px;
		left: 0px;
		top: 3px;
		overflow: visible;
	}
	#Mid-Western_University {
		left: 695px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 356px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,0,0,1);
	}
	#Examinations_Management_Office {
		left: 503px;
		top: 44px;
		position: absolute;
		overflow: visible;
		width: 739px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		color: rgba(0,0,0,1);
	}
	#Surkhet_Nepal {
		left: 749px;
		top: 104px;
		position: absolute;
		overflow: visible;
		width: 248px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,0,0,1);
	}
	#Examination_Admission_Card {
		left: 649px;
		top: 156px;
		position: absolute;
		overflow: visible;
		width: 447px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial Rounded MT;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		color: rgba(0,0,0,1);
		text-decoration: underline;
	}
	#Full_Name_ {
		left: 0px;
		top: 240px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 944.482px;
		height: 3px;
		left: 179.5px;
		top: 271.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Symbol_No {
		left: 1137px;
		top: 240px;
		position: absolute;
		overflow: visible;
		width: 157px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_2 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		width: 432px;
		height: 3px;
		left: 1312.5px;
		top: 271.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_2 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 217px;
		height: 217px;
		left: 1527px;
		top: 3px;
	}
	#Photo_PP_Size {
		left: 1567px;
		top: 80px;
		position: absolute;
		overflow: visible;
		width: 139px;
		white-space: nowrap;
		text-align: center;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Registration_No_ {
		left: 0px;
		top: 304px;
		position: absolute;
		overflow: visible;
		width: 229px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_4 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		width: 883.221px;
		height: 3px;
		left: 240.761px;
		top: 335.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#SchoolCampus {
		left: 1137px;
		top: 305px;
		position: absolute;
		overflow: visible;
		width: 232px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_5 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_5 {
		overflow: visible;
		position: absolute;
		width: 356px;
		height: 3px;
		left: 1388.5px;
		top: 335.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Faculty_ {
		left: 0px;
		top: 368px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_6 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		width: 983.482px;
		height: 3px;
		left: 140.5px;
		top: 399.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Exam_Year_ {
		left: 1137px;
		top: 368px;
		position: absolute;
		overflow: visible;
		width: 176px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_7 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_7 {
		overflow: visible;
		position: absolute;
		width: 412px;
		height: 3px;
		left: 1332.5px;
		top: 399.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Level_ {
		left: 0px;
		top: 432px;
		position: absolute;
		overflow: visible;
		width: 88px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Exam_Centre_ {
		left: 1138px;
		top: 433px;
		position: absolute;
		overflow: visible;
		width: 207px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_9 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 381px;
		height: 3px;
		left: 1363.5px;
		top: 463.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Bachelor__Master__MPhil {
		left: 106px;
		top: 432px;
		position: absolute;
		overflow: visible;
		width: 373px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Semester {
		left: 0px;
		top: 496px;
		position: absolute;
		overflow: visible;
		width: 136px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_4 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 1744px;
		height: 527px;
		left: 0px;
		top: 554px;
	}
	#Line_10 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 607.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_12 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 654.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_13 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_13 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 701.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_14 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_14 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 748.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_15 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_15 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 795.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_16 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_16 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 842.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_17 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_17 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 889.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_18 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_18 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 936.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Regular {
		left: 425px;
		top: 565px;
		position: absolute;
		overflow: visible;
		width: 107px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_5 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 44px;
		height: 37px;
		left: 542px;
		top: 565px;
	}
	#Chance {
		left: 632px;
		top: 565px;
		position: absolute;
		overflow: visible;
		width: 104px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_6 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_6 {
		position: absolute;
		overflow: visible;
		width: 44px;
		height: 37px;
		left: 746px;
		top: 565px;
	}
	#Partial {
		left: 836px;
		top: 565px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_7 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 44px;
		height: 37px;
		left: 937px;
		top: 565px;
	}
	#Line_19 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_19 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 474px;
		left: 87.5px;
		top: 607.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_20 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 474px;
		left: 1156.5px;
		top: 607.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#SN {
		left: 15px;
		top: 614px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Subjects {
		left: 514px;
		top: 613px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Sub_Code {
		left: 1386px;
		top: 614px;
		position: absolute;
		overflow: visible;
		width: 142px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_21 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_21 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 983.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_22 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_22 {
		overflow: visible;
		position: absolute;
		width: 1744px;
		height: 1px;
		left: 0.5px;
		top: 1030.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_23 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_23 {
		overflow: visible;
		position: absolute;
		width: 365px;
		height: 3px;
		left: 0.5px;
		top: 1179.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#__ {
		left: 66px;
		top: 1207px;
		position: absolute;
		overflow: visible;
		width: 235px;
		white-space: nowrap;
		text-align: center;
		font-family: Kantipur;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Line_24 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 2 3;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_24 {
		overflow: visible;
		position: absolute;
		width: 365px;
		height: 3px;
		left: 1379.5px;
		top: 1179.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Full_Signature_of_Applicant {
		left: 1383px;
		top: 1202px;
		position: absolute;
		overflow: visible;
		width: 359px;
		white-space: nowrap;
		text-align: center;
		font-family: Mangal;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#_M___________ {
		left: 403px;
		top: 1306px;
		position: absolute;
		overflow: visible;
		width: 939px;
		white-space: nowrap;
		text-align: center;
		font-family: Kantipur;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#student_name {
		left: 206px;
		top: 240px;
		position: absolute;
		overflow: visible;
		width: 178px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#symbol_no {
		left: 1335px;
		top: 240px;
		position: absolute;
		overflow: visible;
		width: 136px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#college_name {
		left: 1403px;
		top: 302px;
		position: absolute;
		overflow: visible;
		width: 175px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#registration_no {
		left: 281px;
		top: 302px;
		position: absolute;
		overflow: visible;
		width: 186px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#faculty {
		left: 159px;
		top: 366px;
		position: absolute;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#exam_year {
		left: 1347px;
		top: 366px;
		position: absolute;
		overflow: visible;
		width: 140px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#exam_centre {
		left: 1378px;
		top: 430px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_8 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 257px;
		height: 74px;
		left: 55px;
		top: 1092px;
	}
	#Rectangle_9 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_9 {
		position: absolute;
		overflow: visible;
		width: 257px;
		height: 74px;
		left: 1434px;
		top: 1095px;
	}